<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academy - Chat App</title>
  </head>
  <body>
    <h1>Chat Application</h1>
    <ul id="messages"></ul>
    <div class="form">
      <input type="text" name="text" class="message-text" />
      <button class="send-button">Send message</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="js/chat.js"></script>
  </body>
</html>
