<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academy - Chat App</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <img src="images/la-landscape-white.png" />
      <h2>Welcome to the Node.JS Workshop</h2>
      <p>You can access the chat app <a href="/chat">here</a></p>
    </div>
  </body>
</html>
