:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #579ffb;
  --right-msg-bg: #ececec;
}

.container {
  display: flex;
  justify-content: center;
  height: calc(100% - 160px);
}

.messages {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 10px 10px;
  height: 100%;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.messages__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.messages__chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #fcfcfe;
}

.messages__chat::-webkit-scrollbar {
  width: 6px;
}

.messages__chat::-webkit-scrollbar-track {
  background: #ddd;
}

.messenger__chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.messages__input-area {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

.messages__input-area * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.messages__input {
  flex: 1;
  background: #ddd;
}

.messages__send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

.messages__send-btn:hover {
  background: rgb(0, 180, 50);
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.message:last-of-type {
  margin: 0;
}

.message__img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.message__bubble {
  padding: 15px;
  border-radius: 15px;
  word-wrap: break-word;
  margin: 0 0 0 10px;
  background: var(--right-msg-bg);
  border-bottom-left-radius: 0;
}

.message__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.message__info-name {
  margin-right: 10px;
  font-weight: bold;
}

.message__info-time {
  font-size: 0.85em;
}
