<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Node.js workshop - Create" />
    <title>Node.js workshop - Create Book</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <form action="/books" method="POST" class="book-form">
        <h1 class="title">Add New Book</h1>

        <label>Title</label>
        <input type="text" name="title" class="input" />

        <label>Subtitle</label>
        <input type="text" name="subtitle" />

        <label>Description</label>
        <textarea name="description"></textarea>

        <label class="label-inline">Author</label>
        <select name="author">
          {% authors %}
          <option value="{{_id}}">{{ name }} {{ surname }}</option>
          {%}
        </select>

        <label>ISBN</label>
        <input type="text" name="isbn" />

        <input type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
